# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Excel temporary files
~$*.xlsx
*.tmp

# PowerBI files (optional)
*.pbix


